#progress-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60%;
  height: 20px;
}

.alert {
  display: none;
}
.error-message {
  display: none;
}

#pre-signup-alert {
  display: none;
}
#pre-signup-done-message {
  display: none;
}
#pre-signup-form .error-message {
  display: none;
}

#signup-form .error-message {
  display: none;
}
