#progress-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60%;
  height: 20px;
}

.alert {
  display: none;
}
.error-message {
  display: none;
}

#pre-signup-alert {
  display: none;
}
#pre-signup-done-message {
  display: none;
}
#pre-signup-form .error-message {
  display: none;
}

#signup-form .error-message {
  display: none;
}

.img-container {
  list-style: none;
}
.img-container li {
  margin-bottom: 15px;
}
.img-container .img-box {
  position: relative;
}
.img-container .img-box .well {
  color: #999;
}
.img-container .img-box .tmp-textarea {
  display: none;
}
.img-container .glyphicon-remove {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  font-size: 48px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 25px;
  width: 50px;
  height: 50px;
  z-index: 101;
  color: #333;
  cursor: pointer;
}
.img-container .glyphicon-remove.visible {
  visibility: visible;
  opacity: 1;
}
.img-container .glyphicon-remove.hover {
  color: #666;
}
.img-container .glyphicon-remove.active {
  color: #000;
}
