{% extends "base.html" %}

{% block title %}新規登録{% endblock %}
{% block content %}
{% include "navbar.html" %}
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">ユーザー登録</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<form class="form-horizontal" id="signup-form" role="form" novalidate>
					<div class="form-group form-name-group">
						<div class="col-sm-3">
							<label class="control-label">名前</label>
						</div>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="signup-name" placeholder="名前">
							<p class="help-block error-message error-required">名前を入力してください</p>
						</div>
					</div>
					<div class="form-group form-email-group">
						<div class="col-sm-3">
							<label class="control-label">メールアドレス</label>
						</div>
						<div class="col-sm-9">
							<label class="control-label">{{email}}</label>
							<input type="hidden" id="signup-email" value="{{email}}" placeholder="メールアドレス" >
							<p class="help-block error-message error-required">メールアドレスを入力してください</p>
							<p class="help-block error-message error-invalid">メールアドレスの形式が不正です</p>
						</div>
					</div>
					<div class="form-group form-password-group">
						<div class="col-sm-3">
							<label class="control-label">パスワード</label>
						</div>
						<div class="col-sm-9">
							<input type="password" class="form-control" id="signup-password" placeholder="パスワード（半角英数字８文字以上）">
							<p class="help-block error-message error-required">パスワードを入力してください</p>
							<p class="help-block error-message error-minlength">パスワードは８文字以上入力してください</p>
						</div>
					</div>
					<div class="form-group form-confirmation-group">
						<div class="col-sm-3">
							<label class="control-label">パスワード確認</label>
						</div>
						<div class="col-sm-9">
							<input type="password" class="form-control" id="signup-confirmation" placeholder="もう一度同じパスワードを入力してください">
							<p class="help-block error-message error-passwordNoMatch">パスワードが不一致です</p>
						</div>
					</div>
					<!--input type="hidden" id="signup-token" value="{{token}}"-->
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-primary btn-block">次のステップへ</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% include "progress-bar.html" %}
{% endblock %}
