<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="/bower_components/handlebars/handlebars.min.js"></script>
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/js/script.js"></script>
	<title>{% block title %}{% endblock %} | レポートアプリ</title>
</head>
<body>

{% block content %}{% endblock %}

{% block template %}{% endblock %}
</body>
</html>
