<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{appUrl}}/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{appUrl}}/vendor/twbs/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{{appUrl}}/css/style.css">
	<script src="{{appUrl}}/vendor/components/jquery/jquery.js"></script>
	<script src="{{appUrl}}/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="{{appUrl}}/js/{{script}}.js"></script>
	<title>{% block title %}{% endblock %} | レポートアプリ</title>
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>
